<h1>How did you like the article?</h1>

<form action="/comments" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" required>
  </div>

  <div class="form-group">
    <label for="content">What did you think?</label>
    <textarea type="content" class="form-control" id="content" name="content" required></textarea>
  </div>

  <div class="form-group">
    <label for="articleId">Article</label>
    <input type="text" class="form-control" id="articleId" name="articleId" required>
  </div>


  <input type="submit" class="btn btn-primary">
</form>
