<h1>Article Name Here</h1>


<h2>Submit a comment</h2>
<form action="/comments" method="POST">
	Name:
	<input type="text" name="name">
	Content:
	<input type="text" name="content">
	<input type="submit">
</form>