<form>
        
        <input type="text" name="author[name]" placeholder="Your name">
        <input type="text" name="author[biography]" placeholder="Say something...">
        <input type="submit" value="Post">
</form>