
<form>
    
    <input type="text" name="comment[author]" placeholder="Your name">
    <input type="text" name="comment[text]" placeholder="Say something...">
    <input type="submit" value="Post">

</form>