.hero {
  width: 100%;
  height: auto;
}
#comments {
  background-color: rgb(229, 229, 229);
  border: rgb(215, 215, 215) solid 3px;
  border-radius: 3px;
  padding: 15px;
  margin-left: -40px;
}

ul {
  list-style-type: none;
}
#commentName {
  font-weight: bold;
}

form {
  border-radius: 5px;
}
