.hero {
  width: 100%;
  height: auto;
}

.commentContainer {
  background-color: rgb(225, 231, 236);
  padding: 2px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.commentBoxIntro {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.emptyDiv {
  margin: 5px;
}

.commentField {
  width: 70%;
  height: 150px;
}

.labelDiv {
  margin-bottom: 10px;
}

.liBtn {
  border: none;
  margin-top: 13.5px;
  margin-left: -6px;
  background-color: transparent;
  color: rgb(28, 100, 255)
}

.liBtn:hover {
  color: rgb(53, 41, 212)
}

.rightButton {
  position: absolute;
  right: 9%;
}