<h2><%= article.title %></h2>

<form  action="/articles/put/<%= article.id %>?_method=PUT" method="POST">
    <label for="title">Edit Title:</label>
    <input type="text" class="form-control" value="<%= article.title %>" name="title">

    <label for="content">Edit Content:</label>
    <input type="text" class="form-control" value="<%= article.content %>" name="content">

    <input type="submit" class="btn btn-primary">
</form>
