<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h3>Comments Zone</h3>
<input type="text" id="name" /> <br />


<a href="/">&larr; Back Home</a>

