<div class="row">
  <div class="col-sm-12">
    <h1 id="banner">
      <span class='hover-letter'>B</span><span class='hover-letter'>l</span><span class='hover-letter'>o</span><span class='hover-letter'>g</span><span class='hover-letter'>P</span><span class='hover-letter'>u</span><span class='hover-letter'>l</span><span class='hover-letter'>s</span><span class='hover-letter'>e</span></h1>
  </div>
  <div class="col-sm-12 bordered">
    <h4 class="text-light">Latest Posts from BlogPulse</h4>

    <% posts.forEach(function(post) { %>
      <div class="well">
        <h2>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
          <small>by <%= post.author.getFullName() %></small>
        </h2>
        <p>
          <strong><%= moment(post.createdAt).calendar() %></strong>
        </p>
      </div>
    <% }); %>

  </div>
</div>
