<div class="container">
  <div>
    <div class="row">
      <div class="col s12 m4 l8">
        <img class="col s12 m4 l8" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
      </div>
    </div>

    <h1>Latest Posts from BlogPulse</h1>

    <% articles.forEach((a) => { %>
      <div>
        <h2>
          <a href="/articles/<%= a.id %>"><%= a.title %></a>
          <small>by <%= a.author.getFullName() %></small>
        </h2>
        <p>
          <strong><%= moment(a.createdAt).calendar() %></strong>
        </p>
      </div>
    <% }) %>

  </div>
  <div>
    <h2>About</h2>
    <p>BlogPulse is an up-and-coming player in the global media market,
    providing user-generated content across all topics.</p>
  </div>
</div>
