<div class="row">
  <div>
    <h3>Latest Posts</h3>

    <% posts.forEach(function(post) { %>
      <div class="post">
        <h5>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
          <small>by <%= post.author.getFullName() %></small>
        </h5>
        <p>
          <strong><%= moment(post.createdAt).calendar() %></strong>
        </p>
      </div>
    <% }); %>

  </div>
</div>
