<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-xs-12">
        <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
      </div>
    </div>
    <h1>Latest Tags from BlogPulse</h1>

    <% tags.forEach(function(t) { %>
      <div class="well">
        <h2>
          <a href="/tags/<%= t.id %>"><%= t.name %> (<%= t.articles.length %>)</a>
        </h2>
      </div>
    <% }) %>

  </div>
  <div class="col-sm-4">
    <h2>About</h2>
    <p>BlogPulse is an up-and-coming player in the global media market,
    providing user-generated content across all topics.</p>
  </div>
</div>
