<h1>Tag: <%= tag.name %></h1>

<hr />

<h2>Articles:</h2>

<% tag.articles.forEach(function(a) { %>
    <div class="well">
      <h3>
        <a href="/articles/<%= a.id %>"><%= a.title %></a>
      </h3>
    </div>
<% }) %>
