<h3> Tags with: <%= tag.name %> </h3>
<% posts.forEach(function(post) { %>
  <div class='well well-small'>
    <a href=<%= '/posts/' + post.id %> >
      <h2>
        <%= post.title %>
      </h2>
    </a>
    <p>
      <%= moment(post.createdAt).calendar() %>
    </p>
  </div>
<% }); %>
