<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<h1>Put a comment here</h1>
<form method="POST" action="/links">
    Enter name: <br>
    <input type="text" name="name"> <br>
    Enter comment: <br>
    <input type="text" name="comment">
    <input type="submit" value="Submit">
</form>

<hr />

<a href="/">&larr; Back Home</a>
