<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<form method="POST" action="/posts/:id">
	<label>Name
		<input type="text" name="name">
	</label>
	<br />
	<label>Content
		<input type="text" name="content">
	</label>
	<br />
	<button type="submit">Submit Comment</button>
</form>
<br />
<a href="/">&larr; Back Home</a>
