<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<h6>Add Comment</h6>

<form action="/show" method="POST">

  <div class="form-group">
    <label for="Username">Username</label>
    <textarea type="text" class="form-control" id="name" name="name" required></textarea>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

<a href="/">&larr; Back Home</a>
