<h1>Authors</h1>

<!-- authors page -->
<% authors.forEach(function(author) { %> 
  <div class="well">
    <h2>
      <a href="/authors/<%= author.id %>"> <!-- click on name of author to go to the articles they've written-->
        <%= author.getFullName() %>
      </a>
    </h2>
  </div>
<% }) %>

<hr />
<br>
<a href="/">&larr; Back To Homepage</a>
