<h1>Authors</h1>
<p>If your name doesn't show up, please </p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  sign up to be an author.
</button>

<% authors.forEach(function(author) { %>
  <div class="well">
    <h2>
      <a href="/authors/<%= author.id %>">
        <%= author.getFullName() %>
      </a>
    </h2>
  </div>
<% }) %>
<hr />
<a href="/">&larr; Back Home</a>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/authors">
        <div class="modal-body">
          <div class="form-group">
            <label for="author-name" class="col-form-label">First Name</label>
            <input type="text" class="form-control" name="firstName">
          </div>
          <div class="form-group">
            <label for="author-name" class="col-form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Biography</label>
            <textarea class="form-control" name="bio"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

