

<h1>Authors</h1>

<% authors.forEach(function(author) { %>
	  <div class="well">
	    <h4>
	      <a href="/authors/<%= author.id %>">
	        <%= author.getFullName() %>
	      </a>
	    </h4>
	  </div>
<% }); %>

<hr />

<a href="/">&larr; Back Home</a>

